.errorlist{
    margin-top: 0.5rem;
    position: absolute;
    z-index: 1;
    color: red;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 22px;
}
nav{
    background-color: #2c3e50;
}

a{
    color: white;
}

a:hover{
    color: #18bc9c;
}