amqp==5.0.2
beautifulsoup4==4.9.3
billiard==3.6.3.0
celery==5.0.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
Django==2.2.17
django-bootstrap4==2.3.0
django-ranged-response==0.2.0
django-simple-captcha==0.5.12
kombu==5.0.2
Pillow==8.0.0
prompt-toolkit==3.0.9
psycopg2-binary==2.8.6
python-decouple==3.3
pytz==2020.1
redis==3.5.3
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
vine==5.0.0
wcwidth==0.2.5
