{% extends 'session/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <h1>Inicio</h1>
    {% if user.is_authenticated %}
        <br>
        <br>
        {% if questions %}
            <ul>
                {% for question in questions %}
                <li>
                    <h4> Número de solicitud: {{ question.id }}</h4><br>
                    <p>Solicitante: {{  user.email }}</p><br>
                    <p>Asunto de la consulta: {{ question.subject }} </p><br>
                    <p>Consulta realizada: {{ question.message }} </p><br>
                    <p>Fecha y Hora de la solicitud: {{ question.question_datetime }}</p>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p><b>No hay consultas realizadas con tu mail institucional</b></p>
        {% endif %}
    {% endif %}
{% endblock %}