{% extends 'session/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <h1><ins>Consultas</ins></h1>
        <br>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Asunto</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Fecha y hora</th>
            </tr>
          </thead>
          <tbody>
            {% for question in questions %}
            <tr>
              <th scope="row">{{ question.id }}</th>
              <td>{{ question.subject }}</td>
              <td>{{ question.message }}</td>
              <td>{{ question.question_datetime }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}