
name: remote ssh command
on: 
  push:
    branches:
      - celery_linux
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands on the server

      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        script: |
          cd pruebas_github_actions
          foldername="helpdesk-${{ github.run_number }}"
          mkdir $foldername && cd $foldername
          github_url="https://github.com/${{ github.repository }}"
          git clone $github_url
          cd helpdesk
          cp ../../.env ./helpdesk/.env
          cp ../../docker_compose.env ./docker-compose.env
          sudo docker rm $(docker ls -aq)
          sudo docker-compose down
          sudo docker rmi helpdesk_web
          sudo docker-compose up &
          sudo docker-compose exec web python manage.py migrate &

          